.about-container {
  margin: 60px auto; 
  max-width: 100%;
  width: 45%; 
  padding: 20px; 
  display: grid;
  place-items: center;
  opacity: 0; 
  animation: fadeIn 1s ease-in forwards; 
  animation-delay: 1s; 
}

@keyframes fadeIn {
  from {
    opacity: 0; 
  }
  to {
    opacity: 1; 
  }
}

.about-container h1 {
  color: rgb(186, 199, 223);
  text-align: center;
}

.about-container p {
  background-color: rgba(18, 21, 45, 0.882);
  padding: 20px;
  border: solid rgba(56, 63, 110, 0.307) 1.5px;
  border-radius: 10px;
  font-size: 18.5px;
  font-weight: 500;
  color: rgba(186, 199, 223, 0.795);
  backdrop-filter: blur(50px);
}

@media (max-width: 1500px) {
  .about-container {
    width: 80%;
  }

  .about-container p {
    font-size: 18px;
  }
}

@media (max-width: 700px) {
  .about-container {
    width: 88%;
  }

  .about-container p {
    font-size: 16.5px;
  }
}

@media (max-width: 660px) {
  .about-container {
    width: 95%;
    margin-top: 45px;
  }
    
  .about-container p {
    font-size: 13.5px;
  }
}