.about-container p {
  background-color: rgba(18, 21, 45, 0.882);
  padding: 20px;
  border: solid rgba(56, 63, 110, 0.307) 1.5px;
  border-radius: 10px;
  font-size: 16.5px;
  font-weight: 500;
  color: rgba(186, 199, 223, 0.795);
  width: 500px;
  opacity: 0; 
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 3s;
  backdrop-filter: blur(50px);
}
