.hero-container {
  display: flex;
  /* grid-template-columns: 50fr 1fr 1fr; */
  gap: 5px;
  position: relative;
  overflow: hidden;
  flex-direction: row-reverse;
  top: 50px;
  margin-top: 75px;
}

.hero-container .headshot img {
  /* max-width: 100%;  */
  height: auto; 
  display: block;
  margin: auto;
  margin-right: 30px;
  padding: 0;
  /* background-color: black; */
  /* padding-left: 100px; */
  position: relative;
  /* left: 150px; */
  width: 75%;
  opacity: 0; 
  animation: fadeIn 2.5s ease-in forwards; 
  animation-delay: 6s;
}

.headshot {
  position: relative; 
}

.main-content {
  padding: 20px;
}

.toggle-icon-container {
  position: absolute;
  left: 3px; 
  top: 1.5%; 
  transform: translateY(-50%);
  cursor: pointer;
}

.toggle-icon {
  font-size: 24px; 
  color: #fff;
}

.toggle-icon:hover {
  color: #61DBFB;
}

.hero-container p {
  background-color: rgba(18, 21, 45, 0.882);
  padding: 20px;
  border: solid rgba(56, 63, 110, 0.307) 1.5px;
  border-radius: 10px;
  font-size: 16.5px;
  font-weight: 500;
  color: rgba(186, 199, 223, 0.795);
  width: 500px;
  opacity: 0; 
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 3s;
  backdrop-filter: blur(50px);
}

.hero-details {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: auto;
  max-width: 100%;
  position: relative;
  bottom: 60px;
  left: 200px;
  /* right: 125px; */
  /* margin-right: 555px; */
  /* margin: auto; */
  /* width: 700px; */
}

.hello-world {
  color: rgba(186, 199, 223, 0.791);
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 2px;
  position: relative;
  top: 16px;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards; 
  animation-delay: 1s;
}

.hero-details h1 {
  font-size: 5.4em;
  margin-bottom: 3px;
  display: inline-block;
  font-weight: 600;
  width: 650px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.becoming-gradient {
  color: rgba(186, 199, 223, 0.82); 
  font-weight: 100;
  opacity: 0; 
  animation: fadeIn 0.5s ease-in forwards; 
  animation-delay: 2.0s; 
}

.gradient {
  background: linear-gradient(to right, rgb(141, 169, 220), rgb(186, 199, 223)); 
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards; 
  animation-delay: 2.0s; 
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.contact-button, .about-button {
  font-size: 12.5px;
  font-weight: 200;
  background-color: rgba(18, 21, 45, 0.882);
  color: rgb(186, 199, 223);
  border: none;
  margin-right: 10px;
  padding: 10px 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  max-width: 120px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-position 3s linear; 
  background-size: 200% auto;
  background-position: 100% 0;
  display: inline-block;
  opacity: 0; 
  transform: translateX(100%); 
  animation: slideInFromRight 1.5s ease-in forwards;
  animation-delay: 5s; 
  width: 120px;
}

@keyframes slideInFromRight {
  from {
    opacity: 0;
    transform: translateX(100%); 
  }
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}


.about-button {
  background-color: #61dcfbb9;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.5); 
  color: rgb(26, 5, 180);
  font-weight: 600;
}

.contact-button {
  backdrop-filter: blur(50px);
  border: solid rgba(56, 63, 110, 0.307) 1px;
}

.contact-button:hover {
  background-position: 0 0;
  color: #61dcfbd1;
  transition: 0.3s ease-out;
}

.about-button:hover {
  color: rgb(186, 199, 223);
  transition: 0.3s ease-out;
}

.about-button:hover {
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.75);
}

.contact-button .icons, .about-button .icons {
  vertical-align: middle;
}

@media (max-width: 1475px) {
  .hero-container .headshot img {
    left: 18px;
  }
}

@media (max-width: 1280px) {
  .hero-container {
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 2px; */
    /* bottom: 125px; */
    /* max-height: 100vh; */
  }

  .hero-container .headshot img {
   max-width: 35%;
   display: flex;
   /* bottom: 300px; */
   position: relative;
   top: 10px;
   /* right: 250px; */
   margin: auto;
   left: 36px;
  }

  .hero-details {
    display: flex;
    padding-bottom: 25px;
    margin: auto;
    position: relative;
    left: 75px;
    bottom: 120px;
  }

  .hero-details h1 {
    /* font-size: 4em; */
  }
}

@media (max-width: 885px) {
  .hello-world {
    /* font-size: 1.0rem; */
  }

  .hero-details {
    /* margin-left: 200px; */
    display: flex;
    position: relative;
    text-align: center;
    transition: all 0.3s ease;
    left: 30px;
    bottom: 75px;
  }

  .hero-details h1 {
    font-size: 4.4em;
  }

  .hero-container .headshot img {
    display: flex;
    /* top: 1px; */
    position: relative;
    /* left: 70px; */
    width: 85%;
   }

  .hero-container p {
    width: 350px; 
    font-size: 0.9rem;
    text-align: left;
    margin: auto;
  }

   .about-button, .contact-button {
    font-size: 12px;
    padding: 10px;
    /* margin: auto; */
    margin-top: 18px;
    align-items: center;
    position: relative;
    left: 200px
  }
} 

@media (max-width: 845px) {
  .hello-world {
    /* font-size: 0.9rem; */
  }

  .hero-details h1 {
    font-size: 3.8em;
  }
}

@media (max-width: 700px) {
  .hero-details {
    transition: ease;
  }

  .hero-details h1 {
    font-size: 3.8em;
  }
}


@media (max-width: 650px) {
  .hello-world {
    font-size: 22px;
    /* letter-spacing: 18px; */
  }

  .hero-container .headshot img {
    /* margin-left: 160px; */
    /* left: 32px; */
  }


  .hero-details h1 {
    font-size: 2.9em;
    max-width: 420px;
    /* text-align: right; */
    margin: auto;
  }

  .hero-details {
    display: flex;
    position: relative;
    /* top: -px; */
    bottom: 20px;
    transition: ease;
    /* margin-left: 120px; */
  }

  .hero-details p {
    position: relative;
    top: 4px;
    padding: 12px;
    font-size: 13px;
  }

  .about-button, .contact-button {
    font-size: 11.5px;
    padding: 10px;
    /* margin: auto; */
    margin-top: 20px;
    align-items: center;
    position: relative;
    left: 25px;
    width: 120px;
  }
}

@media (max-width: 555px) {
  .hello-world {
     font-size: 0.8rem;
     font-weight: 600;
     /* letter-spacing: 12.5px; */
     position: relative;
     top: 10px;
  }

  .hero-details {
    width: 100vh;
    /* text-align: center; */
    margin: auto;
    position: relative;
    margin-top: 20px;
  }

  .hero-details h1 {
    font-size: 2.0em;
    max-width: 250px;
    margin: auto;
    /* text-align: right; */
    padding-bottom: 5px;
  }

  .hero-container {
    margin: auto;
    margin-top: 50px;
    position: relative;
  }

  .hero-container .headshot img {
    /* width: 68%; */
    display: flex;
    /* bottom: 300px; */
    position: relative;
   }

  .hero-container p {
    width: 250px;
    font-size: 0.75rem;
    margin: auto;
    position: relative;
    /* text-align: right; */
    top: 6px;
  }

  .button-container {
    padding-top: 12px;
    margin: auto;
  }

  .about-button, .contact-button {
    font-size: 10px;
    padding: 10px;
    /* margin: auto; */
    position: relative;
    left: 5px;
  }
}

@media (max-width: 475px) {
  .hero-container p {
    padding: 10px;
  }
}

@media (max-width: 430px) {
  .hero-container {
    /* flex-direction: column-reverse; */
    display: block;
    /* margin-right: 100px; */
  }

  .hero-container .headshot img {
    /* width: 100%; */
    display: flex;
    /* bottom: 300px; */
    position: relative;
    /* top: 50px; */
    /* left: 18px; */
   }

   .hero-details {
    /* top: 5px; */
   }

   .hero-details p {
    top: 12px;
   }

   .hello-world {
    font-size: 14px;
    position: relative;
    top: 8px;
    /* letter-spacing: 12px; */
   }

   .hero-details h1 {
    font-size: 32px;
   }

   .hero-details h1, .hero-details p {
    text-align: left;
    word-wrap: break-word;
   }

   .about-button, .contact-button {
    font-size: 9.5px;
    padding: 10px;
    /* margin: auto; */
    position: relative;
   }
   
}

@media (max-width: 428px) {
  .hero-details p {
    font-size: 10px;
  }

  .toggle-icon {
    opacity: 0;
  }
}