.sidebar {
  position: absolute;
  top: 25px;
  left: 0;
  width: 200px;
  height: 62vh;
  background-color: rgba(0, 13, 32, 0.746);
  color: hsl(0, 0%, 100%);
  padding: 20px;
  overflow-y: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  backdrop-filter: blur(11px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-content {
  padding-right: 10px;
}

.sidebar h2 {
  margin-bottom: 20px;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #555;
}

.sidebar li:last-child {
  border-bottom: none;
} 

.contact-icons {
    position: relative;
    flex-direction: column;
}
  
.contact-icons .icon {
    color: white;
    font-size: 24px;
}

@media (max-width: 1350px) {
  .sidebar {
    width: 150px;
  }
}

@media (max-width: 755px) {
  .sidebar {
    width: 120px;
  }
}

@media (max-width: 645px) {
  .sidebar {
    width: 90px;
  }
}

@media (max-width: 585px) {
  .sidebar {
    width: 78px;
  }
}