.sidebar {
  position: absolute;
  top: 25px;
  left: 0;
  width: 200px;
  height: 62vh;
  background-color: rgba(18, 21, 45, 0.882);
  color: rgba(186, 199, 223, 0.795);
  padding: 20px;
  overflow-y: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  border-radius: 20px;
  backdrop-filter: blur(50px);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.15);
  border: solid rgba(56, 63, 110, 0.307) 1px;
}

.sidebar.show {
  transform: translateX(0);
}

.sidebar-content {
  padding-right: 10px;
}

.sidebar h2 {
  margin-bottom: 20px;
  color: rgba(186, 199, 223, 0.908);
  position: relative;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar li {
  padding: 10px 0;
  border-bottom: 1px solid #555555aa;
}

.sidebar li:last-child {
  border-bottom: none;
} 

.contact-icons {
    position: relative;
    flex-direction: column;
}
  
.contact-icons .icon {
    color: rgba(255, 255, 255, 0.817);
    font-size: 16px;
    margin-right: 4px;
}

@media (max-width: 1580px) {
  .sidebar {
    width: 152px;
  }
}

@media (max-width: 1460px) {
  .sidebar {
    width: 136px;
  }
}

@media (max-width: 900px) {
  .sidebar {
    width: 136px;
  }
}

@media (max-width: 785px) {
  .sidebar {
    width: 110px;
  }
}

@media (max-width: 725px) {
  .sidebar {
    width: 90px;
  }
}

@media (max-width: 700px) {
  .sidebar {
    width: 80px;
  }
}


@media (max-width: 650px) {
  .sidebar {
    width: 78px;
  }

  .sidebar h2 {
    font-size: 22px;
  }
}

@media (max-width: 585px) {
  .sidebar {
    width: 70px;
    font-size: 12.5px;
  }

  .sidebar h2 {
    font-size: 20px;
  }
}

@media (max-width: 450px) {
  .sidebar {
    width: 60px;
  }

  .sidebar h2 {
    font-size: 17px;
  }

}
@media (max-width: 430px) {
  .sidebar {
    width:  60px;
  }
}

@media (max-width: 428px) {
  .sidebar {
    opacity: 0;
  }
}